include CHANGES
include README.rst 
include plorma/scaffolds/basic/development.ini_tmpl
recursive-include plorma/fixtures *.json
recursive-include plorma/alembic *.py alembic.ini
include *.txt *.ini *.cfg *.rst
recursive-include plorma *.ico *.png *.css *.gif *.jpg *.pt *.txt *.mak *.mako *.js *.html *.xml
