include CHANGES
include README.rst 
include plorma/scaffolds/basic/development.ini_tmpl
recursive-include plorma/views/forms *.xml
recursive-include plorma/views/tables *.json
recursive-include plorma/fixtures *.json
recursive-include plorma/alembic *.py alembic.ini
recursive-include plorma/locale *.pot *.po *.mo
include *.txt *.ini *.cfg *.rst
recursive-include plorma *.ico *.png *.css *.gif *.jpg *.pt *.txt *.mak *.mako *.js *.html *.xml
